{{outlet}}

<div class='visible-xs'>

  <h3>WARSAW TRAFFIC</h3>
  <div class="chart-container">

    {{time-series-chart
      barData=timeSeriesBarContent
      lineData=timeSeriesLineContent
      badData=daily_curr_value
      selectedInterval='H'
    }}
  </div>

  {{google-map lat=lat lng=lng type=type zoom=zoom}}

  <h3>Map settings</h3>
  <div>
    <label>Lat: {{input value=lat}}</label>
    <label>Lng: {{input value=lng}}</label>
    <label>Zoom: {{input value=zoom}}</label>
    <label>Type: {{view Ember.Select content=mapTypes
      optionLabelPath='content.label' optionValuePath='content.id' value=type}}
    </label>
  </div>

</div>